/*---- .player-detail ----*/
.player-list {
	width: inherit;
	height: auto;
}
.player-list>.info {
	width: inherit;
}
.player-list>.info>table {
	width: 100%;
	border-collapse: collapse;
}
.player-list>.info>table>thead {
	height: 30px;
}
.player-list>.info>table>thead>tr>th {
	height: 50px;
	border-bottom: 1px solid #000;
}
.player-list>.info>table>tbody>tr>td {
	height: 40px;
	text-align: center;
	border-bottom: 1px solid #000;
}
.player-list>.buttons {
	margin-top: 50px;
	text-align: center;
}
.player-list>.buttons>button {
	width: 100px;
}

/*---- .player-add ----*/
.player-add {
	width: inherit;
}
.player-add>.form {
	width: inherit;
	height: auto;
}
.player-add>.form>.pure-g {
	margin-bottom: 15px;
	width: inherit;
	height: 50px;
	line-height: 50px;
}
.player-add>.form>.pure-g>.title{
	text-align: center;
}
.player-add>.form>.pure-g>.text>input[type=text]{
	width: 100%;
}
.player-add>.form>.pure-g>.date>input[type=text]{
	width: 30%;
}
.player-add>.buttons {
	margin-top: 50px;
	text-align: center;
}
.player-add>.buttons>button {
	width: 100px;
}

/*---- .player-detail ----*/
.player-detail {
	width: inherit;
}
.player-detail>.info {
	width: inherit;
	height: auto;
}
.player-detail>.info>.pure-g {
	margin-bottom: 15px;
	width: inherit;
	height: 50px;
	line-height: 50px;
}
.player-detail>.info>.pure-g>.title{
	text-align: center;
}
.player-detail>.buttons {
	margin-top: 50px;
	text-align: center;
}
.player-detail>.buttons>button {
	width: 100px;
}

